<h3>Estimate your contributions</h3>
<form action="/portfolios/<%= @portfolio.id %>/predictions" method="post">
  <p>
    In <input type="number" name="years_until_amount" min="0" max="100" step="1"> year(s), I'll be able to contribute <input type="number" name="prediction_amount" min="0" max="any" step=".01" placeholder="$3,000"> per month
  </p>
  <input type="submit" value="Submit" class="waves-effect waves-light btn green">
</form>
