<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!-- custom stylesheet -->
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Jingle</title>
    </head>

    <body>
      <nav class="green lighten-3">
        <div class="nav-wrapper" >
          <div class="container">
            <a href="/" class="brand-logo left">jingle</a>
            <ul id="nav-mobile" class="right">
              <% if !Helpers.is_logged_in?(session) %>
              <li><a href="/login" class="hide-on-med-and-down">Login</a></li>
              <li><a href="/signup" class="hide-on-med-and-down">Sign Up</a></li>
              <% else %>
              <li><a href="/logout" class="hide-on-med-and-down">Logout</a></li>
              <% end %>
              <li><a href="/portfolios" class="dropdown-trigger" data-target='dropdown1'><i class="medium material-icons" id="person-icon">person</i></a></li>
            </ul>
          </div>
        </div>
      </nav>

        <%= yield %>

        <div class="clearfix"></div>

        <ul id='dropdown1' class='dropdown-content'>
          <% if !Helpers.is_logged_in?(session) %>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <% else %>
          <li><a href="/portfolios">Home</a></li>
          <li><a href="/logout">Logout</a></li>
          <% end %>
        </ul>


      <!--JavaScript at end of body for optimized loading-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

      <script>
        $( document ).ready(function (e) {
          $(".dropdown-trigger").dropdown();
        });
    </script>
    </body>
  </html>
