  <h3>Sign Up</h3>

  <form action="/signup" method="post">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name">

    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name">

    <label for="email">Email:</label>
    <input type="text" name="email">

    <label for="password">Password:</label>
    <input type="password" name="password">
    <input id="signup" type="submit" class="btn green white-text waves-effect waves-light left">

    <div id="login-from-signup" class="left">
      <a href="/login" >Already have an account?</a>
    </div>

  </form>
