  <h3>Sign Up</h3>

  <form action="/signup" method="post">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name">

    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name">

    <label for="email">Email:</label>
    <input type="text" name="email">

    <label for="password">Password:</label>
    <input type="password" name="password">
    <input type="submit" class="waves-effect waves-light btn green left block">
    <div class="left"></div>
    <div id="something" class="left">
      <a href="/login" >Already have an account?</a>
    </div>

  </form>
